.nav-item{
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown{
    position: absolute;
    top: 40px;
    width: 252px;
    transform: translateX(-45%);
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 12px;
    padding: 0.5rem;
    overflow: hidden;
}

.menu-item{
    height: 32px;
    display: flex;
    align-items: center;
    border-radius: 12px;
    transition: background 500ms;
    padding: 0.5rem;
}

.icon-right{
    margin-left: auto;
}
